BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

# Line length
ColumnLimit: 100

# Includes
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^"'
    Priority: 1
  - Regex:    '^<'
    Priority: 2

# Alignment
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 0

# Spacing
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInAngles: Never
SpaceAfterTemplateKeyword: false

# Pointers & refs
PointerAlignment: Left
ReferenceAlignment: Left

# Constructor initializers
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLine

# Namespaces
CompactNamespaces: false
NamespaceIndentation: None
FixNamespaceComments: true

# Other
Cpp11BracedListStyle: true
Standard: c++17
